.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background: linear-gradient(135deg, #f8f9ff, #e9ecff);

  .top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 22px;
      font-weight: bold;
      color: #6439ff;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #6439ff #ece8ff;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #7451f8;
      border-radius: 10px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 8px;
        cursor: pointer;
        border-radius: 8px;
        transition: all 0.3s ease;

        &:hover {
          background-color: #ece8ff;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          transform: translateY(-2px);
        }

        .icon {
          font-size: 25px;
          color: #7451f8;
        }

        span {
          font-size: 18px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }

      li.active {
        background-color: #f0f8ff; /* Light pastel blue or any color of your choice */
        color: #333; /* Darker text for better readability */
      
        .icon {
          color: #7451f8; /* Keep a subtle purple shade for icons */
        }
      
        span {
          color: #333; /* Darker text for the label */
        }
      }
      
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin: 5px;
      cursor: pointer;
      border: 1px solid #7451f8;
      border-radius: 5px;

      &:nth-child(1) {
        background-color: #f8f9ff;
      }

      &:nth-child(2) {
        background-color: #333;
        color: white;
      }
    }
  }
}
